div.qc-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: none;
	overflow: hidden;
    z-index: 9999;
	text-align: left;
}

.qc-wrapper div.qc-textarea {
	position: relative;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.qc-wrapper div.qc-console {
	width: 100%;
	background: rgba(0,0,0,0.85);
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	color: #eee;
	font-family: verdana;
	font-size: 12px;
}

.qc-wrapper input {
	position: absolute;	
	padding: 10px;
	width: 100%;
	border: 0;
	color: #ddd;
	background: black;
	bottom: 0px;
	left: 0px;
    margin: 0;
}

.qc-unknown-command {
	color: red;
}

.qc-input {
	float: left;
	display: block;
	padding-left: 5px;
}

.qc-br {
	display: block;
	clear: both;
}

.qc-i {
	font-style: italic;
}

.qc-output {
	display: block;
}

.qc-result {
	float: left;
	display: block;
	padding-left: 5px;
	margin-bottom: 5px;
}

.qc-output-cur {
	float: left;
	color: yellow;
	font-size: 10px;
}